body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    padding:0;
    background:#262626;
 }

 button {
    border:2px solid transparent;
    outline:2px solid transparent;
    border-radius:5px;
    background: #fff900;
    margin-bottom:10px;
    color: #484848;
    padding: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6c00;
}

h3, p {
    color: #fff900; 
    align-items: center;
}

li {
    list-style-type: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 500px){}